header, body>footer, aside{
  background-color: lightgray;
  color: purple;
  padding: 1em;
  margin: 0.5rem 0 0.5rem 0;
}

main{
  margin: 0.5em;
  min-height: 60vh;  
}

nav li{
  list-style: none;
  padding: 0.5em;
  margin: 0 3rem 0 0;  
}

h2, h3{
  margin: 0.5rem;
}

img{
  height:2em;
  padding: 0 0 0 1rem;
  margin: 0 3em 0 0;
}

main p img{
  width:90%;
  height:auto;
}

main footer{
  margin: 3em;
  background-color: lightgray;
  display: inline-block
}

.encours{
  background-color: white;
}

ol ol{
  list-style-type: lower-latin;
}
