/* gérer le positonnement des blocs */

body{
  display:flex;
  flex-wrap: wrap;
}

main{
  flex-basis: 60%;
  flex-grow: 1;
}

aside{
  flex-basis: auto;
}


header, footer{
  flex-basis:100%;
}

nav{
  display: flex;
  justify-content:space-between;
}

header{
  display: flex;
}